# LLM configuration (Groq)
GROQ_API_KEY=

# Weather configuration
OPENWEATHER_API_KEY=

# DB Configuration
DATABASE_URL=
SUPABASE_URL=
SUPABASE_JWT_SECRET=

# App Configuration
NEXT_PUBLIC_API_URL=
NOVA_DEV_MODE=
